<div *ngIf="posts.length > 0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <p-accordion [multiple]="true" *ngFor="let post of posts">
        <p-accordionTab [header]="post.title">
            {{ post.content }}
            <div class="p-grid" style="margin-top: 1em; text-align: right;">
                <div class="p-col">
                    <a [routerLink]="['/editPosting', post.id]">
                        <button pButton type="button" icon="pi pi-pencil" label="Edit"
                            class="p-button-success"></button>&nbsp;
                    </a>
                    <button pButton type="button" icon="pi pi-trash" label="Delete" class="p-button-warning"
                        (click)="onDelete(post.id)"></button>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</ng-template>
<ng-template #elseBlock>NO POSTS ADDED!</ng-template>